@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/171337865/photo/ferris-wheel-at-night.jpg?s=612x612&w=0&k=20&c=bMwimKA29TYTuIuqOFUGQiYCmZ40GvlAAV4D_OolJJ8=");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

